{% extends 'base/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">S.No.</th>
              <th scope="col" colspan="2">Road Details</th>
              <th scope="col">Road Tender Price</th>
            </tr>
          </thead>
          <tbody>
            {% for road in cart.roads.all %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
                <td>
                    <a href="/roaddetails/{{road.id}}"><img src="{{road.image.url}}" width="50px" height="50px"></a>
                </td>
              <td>

                  <a href="/roaddetails/{{road.id}}">{{ road.title }}</a>

              </td>
              <td>{{ road.price }}</td>
            </tr>
          {% endfor %}

          <tr>
              <td colspan="2"></td>
              <td colspan="2">
                  <b> Subtotal </b> &#8377;
                  <span>{{ cart.subtotal }}</span>

              </td>
          </tr>

          <tr>
              <td colspan="2">Subtotal + 10% Tax</td>
              <td colspan="2">
                  <b> Total </b> &#8377;
                  <span>{{ cart.total }}</span>

              </td>
          </tr>

          <tr>
              <td colspan="3"></td>
              <td>
                  <a href="/cart/checkout "class="btn btn-success">Checkout</a>
              </td>
          </tr>
          </tbody>
        </table>
    </div>
</div>

{% endblock %}