{% extends 'base/base.html' %}
{% block content %}

<div class="row" >
    <div class = "col-md-2">
        <p> <a href="/roadpage">All</a> </p>
        {% for subcategory in subcategory %}

        <p>
            <a href="/roadcategory/{{subcategory.id}}">
            {{subcategory.category_name}} -
            {{subcategory.subcategory_name}}
            </a>
        </p>

        {% endfor %}
    </div>
    <div class = "col-md-10" >
        <div class="row">
    {% for road in roads %}
    <div class="col-md-3">
        <div class="card" style="width:100%;">
                 <img src="{{road.image.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">{{road.title}}</h5>
                  <p class="card-text">{{road.description}}</p>
                  <p class="card-text"><b>{{road.tender_amount}}</b></p>
                  <p class="card-text">{{road.quality}}</p>
                  <a href="/roaddetails/{{road.id}}" class="btn btn-primary">View Details</a>
             </div>
        </div>
    </div>
    {% endfor %}
        </div>
    </div>
</div>


{% endblock %}